<div class="list card">

  <div class="item item-avatar">
    <img src="img/k1.jpg">
    <h2>Kevalin Nokinzee (Pooky)</h2>
    <p>May 18, 2017</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/k2.jpg">
    <p>
      Hello! My name's Sasiwimol Wanpen.
	  You can call me Pooky for shot.
	  I'm 20 years old. 
	  I study at Chaiyaphum Technical College. 
	  I study Information Technology. 
	  I live in Mahasarakham Province. My Facebook is
	  N'kee Pooker...
    </p>
    <p>
      <a href="#" class="subdued">321 Like</a>
      <a href="#" class="subdued">45 Comments</a>
    </p>
  </div>

</div>
<div class="tabs tabs-icon-only">
  <a ui-sref="login" class="tab-item">
    <i class="icon ion-home"></i>
  </a>
 <a ui-sref="history" class="tab-item">
    <i class="icon ion-person"></i>
  </a>
  <a ui-sref="img" class="tab-item">
    <i class="icon ion-images"></i>
  </a>
  <a ui-sref="li" class="tab-item">
    <i class="icon ion-star"></i>
  </a>
  <a ui-sref="set" class="tab-item">
    <i class="icon ion-gear-a"></i>
  </a>
 
  
</div>