<div class="list">
<h1 class="title">My Photos</h1>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/k4.jpg">
      <h2>My freinds</h2>
      <p>Goodbye Senior</p>
    </a>
	<a class="item item-thumbnail-left" href="#">
      <img src="img/k2.jpg">
      <h2>Watering elderly elders</h2>
      <p>Thai New Year</p>
    </a>
	<a class="item item-thumbnail-left" href="#">
      <img src="img/k3.jpg">
      <h2>Ghost</h2>
      <p>Science Day</p>
    </a>
	<a class="item item-thumbnail-left" href="#">
      <img src="img/fb4.jpg">
      <h2>Field Trips</h2>
      <p>Nine Inch Nails</p>
    </a>
	<a class="item item-thumbnail-left" href="#">
      <img src="img/k1.jpg">
      <h2>Party</h2>
      <p>Nine Inch Nails</p>
    </a>

</div>
<div class="tabs tabs-icon-only">
  <a ui-sref="login" class="tab-item">
    <i class="icon ion-home"></i>
  </a>
  <a ui-sref="history" class="tab-item">
    <i class="icon ion-person"></i>
  </a>
  <a ui-sref="img" class="tab-item">
    <i class="icon ion-images"></i>
  </a>
  <a ui-sref="li" class="tab-item">
    <i class="icon ion-star"></i>
  </a>
  <a ui-sref="set" class="tab-item">
    <i class="icon ion-gear-a"></i>
  </a>
  
</div>